<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
</head>
<body>
    <div class="container">
<div class="row">
    <div class="col">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in a libero consequatur possimus! Magnam culpa maiores similique itaque, incidunt vel quisquam unde enim ab, tenetur odit velit eos beatae!</p>

    </div>
</div>
    </div>
</body>
</html>